@import "tailwindcss";

@theme {
  /* Aquí declaramos los colores de tu diseño para Tailwind v4 */
  --color-dios-dark: #1A1A1A;
  --color-dios-brown: #8E1616;
  --color-dios-cream: #FAFAFA;
  --color-dios-orange: #D82C2C;
  --color-dios-gold: #D4AF37;
  --color-dios-text: #2D2D2D;
}

body {
  background-color: var(--color-dios-cream);
  color: var(--color-dios-text);
}